/* style.css */

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.h1 {
  color: #003da5;
}

body {
  font-family: 'Poppins', sans-serif;
}

.main {
  background-color: #fff;
}

/* btn */
.btn__wrap {
  margin: 1.2em;
  text-align: right;
}

.btn--orange,
a.btn--orange {
  color: #003da5;
  background-color: #fff;
  font-weight: 600;
  margin: 1em;
  padding: .5em;
  text-align: right;
  box-shadow: 0 0 10px 1px #dadada;
}

.front__howto-btn {
  width: 100%;
  height: 3em;
  text-align: center;
  font-size: 1.5em;
  margin-top: 1.3em;
}

.front__howto-btn a {
  padding: .5em 2em;
}

@media screen and (min-width:960px) {

  .btn--orange:hover,
  a.btn--orange:hover {
    color: #fff;
    background: #e605a6;
    transition: all .2s;
  }
}

a.btn--radius {
  border-radius: 100vh;
}

#timeout {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #003da5;
  text-shadow: 0px 0px 10px #fff;
  background-color: transparent;
}

/* slider movie */
#slider {
  width: 100%;
  height: 100vh;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width:959px) {
  #timeout {
    display: none;
  }
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}

.container {
  background: #555;
}

.container p {
  padding: 300px 0;
  text-align: center;
  color: #fff;
}

/*========= スクロールをすると下のエリアが上にかぶさるCSS ===============*/

/*下の被さるエリアの指定*/
#container {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background: #fff;
}

/* header */

/* is-fixedが付与されたヘッダー */
.header.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-60px);
  opacity: 0;
  transition: transform 0.6s, opacity 0.6s;
}

/* 表示 */
.header.is-show {
  transform: translateY(0);
  opacity: 1;
}

/* header */
.header {
  background-color: rgba(255, 255, 255, 0.667);
  width: 100%;
  height: 100px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 10px 10px -5px #dadada;
  z-index: 999;
}

.header:hover {
  background-color: #fff;
  transition: all .2s;
}

.header__inner {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  position: relative;
}

.header__title {
  width: 80px;
}

@media screen and (min-width: 960px) {
  .header__title {
    position: absolute;
    width: 8em;
    z-index: 999;
    left: 5em;
  }
}

.header__title img {
  display: block;
  width: 100%;
  height: 100%;
}

.header__nav {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  background-color: #fff;
  transition: ease .4s;
}


@media screen and (min-width: 960px) {
  .header__nav {
    position: static;
    transform: initial;
    background-color: inherit;
    height: inherit;
    display: flex;
    justify-content: end;
    width: 50%;
  }

  .header__nav a {
    margin: 0 .3em;
  }
}


@media screen and (min-width: 960px) {
  .nav__items {
    width: 100%;
    display: flex;
    align-items: center;
    height: initial;
    justify-content: space-between;
  }
}

.nav-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}


@media screen and (min-width: 960px) {
  .nav-items {
    justify-content: end;
  }
}

.nav-items__item a {
  color: black;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 24px;
}

a.en {
  font-size: 1.1em;
  font-weight: 500;
  color: #414141;
}

.ja {
  color: black;
  width: 100%;
  display: block;
  text-align: center;
  font-size: .5em;
  color: #5493c7;
}

.nav-items__item:last-child a {
  margin-bottom: 0;
}

@media screen and (min-width: 960px) {
  .nav-items__item a {
    margin-bottom: 0;
  }
}

.header__hamburger {
  width: 48px;
  height: 100%;

}

.hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
}

@media screen and (min-width: 960px) {
  .hamburger {
    display: none;
  }
}


.hamburger span {
  width: 100%;
  height: 1px;
  background-color: #000;
  position: relative;
  transition: ease .4s;
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}

.header__nav.active {
  transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;

}

.hamburger.active span:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
}

@media screen and (min-width:960px) {
  .en:hover {
    color: #e605a6;
    font-weight: 500;
  }
}

@media screen and (max-width:959px) {
  .ja {
    display: none;
  }
}

/* footer */
.pre__footer {
  background-color: #414141;
  color: #fff;
  font-size: .7px;
  position: absolute;
  bottom: -1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40em;
}

.footer {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #f6f6f6;
  z-index: 10;
}

.footer__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:959px) {
  .nav ul li {
    margin: 24px;
    text-align: center;
  }

  .main {
    padding-bottom: 50px;
  }
}

@media screen and (min-width:960px) {
  .top__footer {
    margin-top: 100vh;
  }

  .footer__nav {
    height: 50vh;
  }

  .fnav__items {
    position: absolute;
    left: 10vw;
  }

  .fnav-items__item p {
    display: inline;
  }

  .fnav-items__item {
    margin: .8em;
  }

  .footer__nav a:hover {
    color: #e605a6;
  }

  .en .selected {
    background-color: #e605a6;
  }

  .footer__nav {
    padding: 1em 0;
  }
}

/* main */
/* slide */
#slider {
  width: 100%;
  height: 100vh;
}

@keyframes imgfade {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width:959px) {
  .slide {
    display: none;
  }
}

/* main slider以下 */
.front__container {
  width: 100%;
  margin: 0 auto;
}

.front__about,
.front__product,
.front__howto-container {
  width: 80%;
  margin: 0 auto;
  padding: 1em 0;
}

.front__h1 {
  text-align: center;
  font-size: 3em;
  margin: .5em;
}

@media screen and (max-width:959px) {
  .front__about {
    width: 100%;
  }

  .front__container {
    width: 80%;
    height: 60%;
  }

  .front__about-wrap img {
    width: 100%;
  }
}

/* front product */
.front__product-inner {
  display: grid;
  place-items: center;
  width: 100%;
  margin: 0 auto;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width:959px) {
  .front__product {
    width: 100%;
  }

  .front__product-inner {
    grid-template-columns: 1fr;
  }

  .front__product-items a {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 0 2em;
  }

  .front__product-img {
    width: 80%;
    margin: 0 auto;
  }
}

.front__product-img img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
}

.front__product-inner-txt {
  text-align: center;
  padding: 1em 0;
}

@media screen and (min-width:960px) {

  .front__product-items:hover {
    background-color: #ffddf7;
    box-shadow: 0 0 10px 3px #ababab;
    transition: all .2s;
  }

  .front__howto-contents:hover {
    box-shadow: 0 0 10px 5px #ababab;
    transition: all .3s;
    /* background-color: #f9eacb; */
    /* background-color: #f9eccb; */
    background-color: #ffddf7;
  }
}

.front__product-items {
  background-color: #e8f8fb;
  border-radius: 20px;
}

.front__product-img-wrap {
  position: relative;
  margin: 1em auto;

}

.front__product-txt {
  text-align: center;
  margin: 1em auto;
  font-size: 1.3em;
  color: #003da5;
  font-weight: 600;
}

.circle {
  position: absolute;
  background-color: #ffffff;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 90;
}

@media screen and (max-width:959px) {
  .circle {
    width: 10em;
    height: 10em;
  }
}

/* front how to */

.front__howto {
  background-color: #fdfaea;

}

.front__howto-container h1 {
  text-shadow: 0px 0px 10px #fff;
}

.front__howto-contents {
  background-color: #fff;
  padding: 2em 2em 0 2em;
}

.front__howto-wrap {
  display: grid;
  place-items: center;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
}

.front__howto-img video {
  width: 100%;
}

.front__howto-txt {
  display: block;
  text-align: center;
  margin: 1em auto;
  color: #003da5;
  font-size: 1.3em;
  font-weight: 600;
}

@media screen and (max-width:959px) {
  .front__howto-wrap {
    grid-template-columns: 1fr;
  }

  .front__howto-contents {
    padding: 1em;
  }

  .front__howto-contents a {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
  }

}

/* page topに戻るやつ */
/*========= ページトップのためのCSS ===============*/
/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 10px;
  bottom: 30px;
  z-index: 9999;
  /*はじめは非表示*/
  opacity: 0;
  transform: translateY(150px);
}

/*上に上がる動き*/
#page-top.UpMove {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(150px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*下に下がる動き*/
#page-top.DownMove {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(150px);
  }
}

/*画像の切り替えと動き*/
#page-top a {
  /*aタグの形状*/
  display: block;
  width: 9em;
  height: 9em;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  /*背景画像の指定*/
  background: url("../img/pagetop_1.png") no-repeat center;
  background-size: contain;
}

#page-top.floatAnime a {
  width: 9em;
  height: 11em;
  /*背景画像の指定*/
  background: url("../img/pagetop_2.png") no-repeat center;
  background-size: contain;
  /*アニメーションの指定*/
  animation: floatAnime 2s linear infinite;
  opacity: 0;
}

@keyframes floatAnime {
  0% {
    transform: translateX(0);
    opacity: 0;
  }

  25% {
    transform: translateX(-6px);
    opacity: 1;
  }

  50% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(6px);
    opacity: 1;
  }
}

/*Page Topと書かれたテキストの位置*/
#page-top span {
  position: absolute;
  bottom: -20px;
  right: 20px;
  color: #666;
}

/* カレント表示 */
.current a {
  color: #e605a6;
}